<div class="se-pre-con"></div>

    <div class="jumbotron" id="header">
     <img src = "https://preview.ibb.co/ia41Ba/elmusal_lightblue.png" id="landingimg">
    </div>


<div class = "row" id="whatistaho">

    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h3>WHAT IS TAHO?</h3>
        <p>Composed of tofu, brown sugar syrup, and sago pearls, taho is a staple comfort food that can be found all over the Philippines. Apart from being a cheap and satisfying snack, it’s also considered to be a great breakfast option, especially since most vendors prepare their goods before dawn.
        <br/><br/>
        Fresh, silken tofu is the preferred base, its texture similar to that of a very fine panna cotta. The soybean custard is then dressed with arnibal, which is brown sugar that’s been caramelized into a syrup and sometimes flavored with vanilla. Heaping spoonfuls of translucent, gummy sago pearls crown each serving of warm delicious goodness.
        <br/><br/>
        The best testament to a delicacy’s longevity is how well its basic form can truly withstand the test of time, especially with all the recent reinventions and fluctuating trends. This is one area where taho really shines. For despite decades of globalization and popular culture influencing the country’s tastes and dictating food trends, every person alive today can still be moved to a craving for the warm, sweet treat simply by hearing a street vendor calling out “tahooooo!!!” while he plies his everyday route.
        </p>
    </div>

    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
        <br/>
        <img src = "http://www.pepper.ph/wp-content/uploads/2014/03/taho1.png" id="taho1">
    </div>
</div>

    <br/><br/>
<div class = "jumbotron" id="aboutelmusal">
        <br/><br/>
    <h3>WHAT IS TAHO PO AND WHAT THE HECK IS EL MUSAL?</h3>
    <br/>
<p>
    <span  style = "background:#FFFF88;"><i>Picture this: 
    You've found yourself brought to your knees by an insatiable craving for some sweet soya goodness but there's no street vendor in sight. You're losing consciousness, and in your last moments you're praying to all the old gods and the new for some deliverance... </i></span>
    <br/> <br/>
    <b>And that's where El Musal and Taho Po swoop in and save the day.</b>
    <br/> <br/>
    El Musal is the result of a week-long fever dream of owning a breakfast-first (and -only) food service, and Taho Po! is the first product from the lineup. It's designed as a taho subscription and delivery service where you can set your location and delivery dates, and just sit back and wait for our partner vendors to bring you one of the very best snacks the Philippines has to offer.
    <br/><br/>
    (I'm a European Languages major, I know that El Musal isn't a real Spanish word, okay.)
</p>
<br/><br/><br/>
</div>


<div class = "jumbotron" id= "contact">

        <br/><br/>
        <h3>Questions? Comments? Violent reactions? Shoot me a message at aren@tahoislife.com</h3>
        <p><i>Be gentle. I cry at the even the littlest bit of criticism. :-(</i></p>
        <br/><br/>

</div>